.center.hero-unit#home-page
  %h1.home-header
    - if current_user
      Welcome to your logs, #{current_user.name}
      %h3 Your current color is: #{@current_color}

  .colors-container
    .box{:value => 'orange'}
    .box{:value => 'indigo'}
    .box{:value => 'amber'}
    .box{:value => 'lavender'}
    .box{:value => 'rose'}
    .box{:value => 'cinnamon'}
    .box{:value => 'yellow'}
    .box{:value => 'leaf'}
    .box{:value => 'ocean'}

  .home-dashboard
    = link_to "Sign up", signup_path, class: "home-signup-btn"
    = link_to "Write", new_outline_path, class: "home-new-link"
    - if current_user
      = link_to "Read", outlines_path, class: "home-index-link"

:javascript

  $(document).ready(function(){
    $('.box').click(function(){
      var $clickedBox = $(this);
      var chosenColor = $clickedBox.attr('value');
      var updatePath = "#{user_path(current_user)}";
      console.log('chosenColor', chosenColor);
      console.log('updatePath', updatePath);
        $.ajax({
        method: "PUT",
        url: updatePath,
        data: { 'user': {'color': chosenColor } },
        dataType: 'JSON'
        })
        .success(function() {
          location.reload();
        });
    });
  });