.form-button-div
  %button#stealth-button{:title => "button"} Stealth
  = link_to 'Back', outlines_path, class: "form-back-button"

.form-container
  = form_for @outline do |f|
    %p.form-label
      = f.label :title, id: "title-label"
    %p.form-input
      = f.text_field :title, placeholder: 'Title', id: "title-input"
    %p.form-label
      = f.label :log
    %p.form-input
      = f.text_area :log
    %br
      = f.submit "Save", id: 'save-button'
